{{#link-to }}
  <div class="thread-box" style="height:100px; background-color: red">
    <img class="thread-image" src="{{recipient.photo}}">
    <div class="thread-name">
      {{recipient.name}}
    </div>
  </div>
{{/link-to}}