<h2 style="text-align: center">TELL US <br /> ABOUT YOURSELF</h2>
<form {{action "toNextPage" on="submit"}}>
  <div style="text-align: center;padding: 0 7em 2em 0;">
    {{textarea value=description  placeholder='Description' cols="40" rows="6"}}
  </div>
  <div style="text-align: center;padding: 0 7em 2em 0;">
    {{input type="text" value=skills  placeholder='Skills' size="30"}}
  </div>
  <p><button style=";padding: 0 2em 1em 0;" type="submit">Continue</button></p>
</form>