
@import "app-colors";
@import "routes";

@import 'bower_components/fontawesome/scss/variables';
@import 'bower_components/fontawesome/scss/path';
@import 'bower_components/fontawesome/scss/mixins';
@import 'bower_components/fontawesome/scss/icons';

@import 'addons/ember-calendar/paint-core';
@import 'addons/ember-calendar/main';

html, body {
  font-family: Graphik;
  background-color: #21172D;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.icons {
  display: flex;
  align-content: stretch;

  .search-icon {
    color: #EE4640;
    font-size: 40px;
    text-align: center;
  }
}


.search-result {
  font-weight: 200;
  color: #F5EAD5;
  padding: 10px;
  display: flex;

  .result-text-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
  }

  .result-skills, .result-name {
    text-decoration: none;
    text-underline: none;
    flex: 0 0 auto;
  }

  .result-name {
    font-weight: 400;
    font-size: 26px;
  }

  .result-image {
    height: 75px;
    width: 75px;
    padding: 0px;
    display: inline;
    border-radius: 3px;
    flex: 0 0 auto;
  }

  .result-description {
    max-height: 36px;
    overflow: hidden;
  }
}

a:-webkit-any-link {
  text-decoration: none;
}

.search-header {
  display: flex;
  justify-content: flex-start;
  padding: 7px;

  .search-text {
    background-color: #21172D;
    color: #EE4640;
    font-size: 26px;
    font-weight: 500;
    border: none;
    -webkit-appearance: none;
    outline: none;
    display: inline;
    display: flex;
    flex: 1 0 auto;
    margin-left: 5px;
  }
}

.x-toggle-component {
  color: #F5EAD5;

  .x-toggle-flat {
    background-color: transparent;
    color: #F5EAD5;
  }

  .x-toggle-material::before, .x-toggle:checked + label > .x-toggle-material.x-toggle-btn:before {
    background: #EE4640;
  }

  .x-toggle-material::after, .x-toggle:checked + label > .x-toggle-material.x-toggle-btn:after {
    background-color: #F5EAD5;
  }
}

.results {
  overflow-y: scroll;
}

.title-block {
  background-color: #EE4640;
  text-align: center;
  color: #F5EAD5;
  height: 400px;
  font-weight: 600;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .user-name {
    font-size: 22px;
    line-height: 35px;
  }

  .user-skills {
    font-weight: 400;
  }

  img {
    border-radius: 50%;
    border: solid #F5EAD5 3px;
    height: 150px !important;
    width: 150px !important;
    margin-left: auto;
    margin-right: auto;
  }

  .user-stars {
    margin: 10px;
  }
}

.about-block {
  background-color: white;
  color: #21172D;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;

  .user-greeting {
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    margin-bottom: 15px;
  }
}

.projects-list {
  background-color: white;

  .projects-title {
    background-color: #21172D;
    color: white;
    height: 110px;
    display: flex;
    line-height: 110px;
    font-size: 32px;
    padding-left: 30px;
    font-weight: 700;
  }

  .project-item {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

    img {
      border-radius: 5px;
      border: solid #21172D 3px;
      margin-bottom: 10px;
    }

    .project-name {
      color: #21172D;
      font-size: 16px;
    }
  }
}
