<div>
  <img src="{{model.image}}" style="width: 100px; height: 100px;" align="middle">
  <h2>{{model.name}}</h2>
  <div>
    <strong>Skills:</strong> {{model.skills}}
  </div>
  <div>
    <strong>Email:</strong> {{model.email}}
  </div>
</div>