{{outlet}}

{{#unless isLoginOrRegisterRoute}}
<div>
  {{#link-to "search"}}
    <li>Search</li>
  {{/link-to}}
  {{#link-to "profile"}}
    <li>Profile</li>
  {{/link-to}}
  {{#link-to "calendar"}}
    <li>Calendar</li>
  {{/link-to}}
</div>
{{/unless}}