<div class="messenger">
  <div class="message-header">
    Messenger
  </div>
  <div class="message-threads">
    {{#each conversations as |conversation|}}
      {{message-thread
      recipient = conversation.otherUser}}
    {{/each}}
  </div>
</div>