<div class="messenger">
  <div class="message-header">
    Messenger
  </div>
  <div class="message-threads">
    {{#each model as |conversation|}}
      {{conversation.participants}}
    {{/each}}
  </div>
</div>