<div>
    <h5>Search by Skills or Projects</h5>
</div>

{{#list-filter
    filter=(action 'filterBySkill')
    as |users|}}
    <div>
      {{#each users as |user|}}
        <article>
          <div style="display: inline-block">
            <img src="{{user.image}}" style="width: 40px; height: 40px; border-radius: 50%;" align="middle">
            <em style="text-align: center">{{user.name}}</em>
            <div>
              {{star-rating user.rating}}
            </div>
          </div>

          <div>
            <span>Skills:</span>{{user.skills}}
          </div>

        </article>
      {{/each}}
    </div>
    {{/list-filter}}
