<style>
body {
    background-image: url("/assets/images/LOGIN.jpg");
    background-repeat: no-repeat;
    height: 100vh;
  width: 100vw;

}
</style>

{{gatekeeper-sign-in-vertical signInComplete=(action "signInComplete")}}
{{#link-to "new-user"}}
  <div class="register">
    Register
  </div>
{{/link-to}}