<style>
body {
    background-image: url("/assets/images/LOGIN.jpg");
    background-repeat: no-repeat;
}
</style>

{{gatekeeper-sign-in-vertical signInComplete=(action "signInComplete")}}
{{#link-to "new-user"}}
  <div style="colot: white">
    <strong>Register</strong>
  </div>
{{/link-to}}